/* GLOBAL */

body{
    background-color: #f8f4ed;
    color: #2b1705;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', serif;
}

/* NAVBAR */

.navbar{
    padding: 20px 55px;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2b1705;
}

.custom-link{
    color: #5b4636;
    font-size: 0.95rem;
    text-decoration: none;
}

.custom-link:hover{
    color: #2b1705;
}

.signin-btn{
    background-color: #2b1705;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 10px 22px;

    font-size: 0.9rem;

    transition: 0.3s;
}

.signin-btn:hover{
    background-color: #3a220d;
}

/* MAIN SECTION */

.main-section{
    min-height: 85vh;
    padding: 20px 60px;
}

/* LEFT SECTION */

.left-section{
    padding-right: 40px;
}

.welcome-text{
    letter-spacing: 5px;
    color: #a0672f;

    font-size: 0.9rem;
    margin-bottom: 20px;
}

.main-heading{
    font-size: 4.8rem;
    line-height: 1;
    font-weight: 700;

    color: #2b1705;

    margin-bottom: 25px;
}

.line{
    width: 70px;
    height: 2px;

    background-color: #b07a43;

    margin-bottom: 25px;
}

.description{
    width: 75%;

    font-size: 1rem;
    line-height: 1.8;

    color: #5d5146;
}

/* LOGIN CARD */

.login-card{

    background-color: #fcfaf7;

    padding: 40px;

    border-radius: 16px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.04);

}

/* INPUTS */

.custom-label{
    font-size: 1rem;
    margin-bottom: 10px;

    color: #2b1705;
}

.custom-input{

    padding: 14px;

    border-radius: 10px;
    border: 1px solid #d8d2ca;

    font-size: 0.95rem;

    background-color: white;
}

.custom-input:focus{

    box-shadow: none;
    border-color: #a0672f;

}

/* OPTIONS */

.form-check-label{
    font-size: 0.95rem;
}

.forgot-link{

    text-decoration: none;
    color: #a0672f;

    font-size: 0.95rem;
}

.forgot-link:hover{
    color: #7f4f20;
}

/* LOGIN BUTTON */

.login-btn{

    width: 100%;

    background-color: #2b1705;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 14px;

    font-size: 1rem;
    letter-spacing: 2px;

    margin-bottom: 35px;

    transition: 0.3s;
}

.login-btn:hover{
    background-color: #3a220d;
}

/* DIVIDER */

.divider{

    display: flex;
    align-items: center;
    gap: 18px;

    margin-bottom: 30px;
}

.divider-line{

    flex: 1;
    height: 1px;

    background-color: #ddd;
}

.divider span{
    color: #888;
    font-size: 0.9rem;
}

/* FOOTER */

.footer-text{

    text-align: center;
    color: #666;

    font-size: 0.95rem;
}

.footer-text a{

    color: #a0672f;
    text-decoration: none;
}

.footer-text a:hover{
    color: #7f4f20;
}

/* RESPONSIVE */

@media(max-width: 992px){

    .main-section{
        padding: 30px;
    }

    .main-heading{
        font-size: 3.8rem;
    }

    .description{
        width: 100%;
    }

    .login-card{
        margin-top: 40px;
    }
}

@media(max-width: 768px){

    .navbar{
        padding: 20px !important;
    }

    .main-heading{
        font-size: 3rem;
    }

    .description{
        font-size: 1rem;
    }

    .login-card{
        padding: 30px;
    }
}